*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

.contain{

}

.nav_right{
    background-color: #0F0D18;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
}
.nav_right-header{
    display: flex;
    justify-content: space-between;
}
/* search */
.nav_right-header-form-search{
    display: flex;
    align-items: center;
}
.form-header {
    --input-bg: #FFf;
    /*  background of input */
    --padding: 1.5em;
    --rotate: 80deg;
    /*  rotation degree of input*/
    --gap: 2em;
    /*  gap of items in input */
    --icon-change-color: #15A986;
    /*  when rotating changed icon color */
    --height: 50px;
    /*  height */
    width: 600px;
    padding-inline-end: 1em;
    /*  change this for padding in the end of input */
    background: var(--input-bg);
    position: relative;
    border-radius: 4px;
}

.form-header label {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height);
}

.form-header input {
    width: 100%;
    padding-inline-start: calc(var(--padding) + var(--gap));
    outline: none;
    background: none;
    border: 0;
}

/* style for both icons -- search,close */
.form-header svg {
    /* display: block; */
    color: #111;
    transition: 0.3s cubic-bezier(.4, 0, .2, 1);
    position: absolute;
    height: 15px;
}

/* search icon */
.icon {
    position: absolute;
    left: var(--padding);
    transition: 0.3s cubic-bezier(.4, 0, .2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* arrow-icon*/
.swap-off {
    transform: rotate(-80deg);
    opacity: 0;
    visibility: hidden;
}

/* close button */
.close-btn {
    /* removing default bg of button */
    background: none;
    border: none;
    right: calc(var(--padding) - var(--gap));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
}

.form-header input:focus~.icon {
    transform: rotate(var(--rotate)) scale(1.3);
}

.form-header input:focus~.icon .swap-off {
    opacity: 1;
    transform: rotate(-80deg);
    visibility: visible;
    color: var(--icon-change-color);
}

.form-header input:focus~.icon .swap-on {
    opacity: 0;
    visibility: visible;
}

.form-header input:valid~.icon {
    transform: scale(1.3) rotate(var(--rotate))
}

.form-header input:valid~.icon .swap-off {
    opacity: 1;
    visibility: visible;
    color: var(--icon-change-color);
}

.form-header input:valid~.icon .swap-on {
    opacity: 0;
    visibility: visible;
}

.form-header input:valid~.close-btn {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: 0s;
}

/* ---------------------- */
.img_logo img{
    width:300px;
    padding: 15px;
}
.search-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control{
    width: 600px !important;
}
.notification{
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification i{
    font-size: 20px;
    color: var(--bs-orange);

}
.icon_user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;

}

.icon_user i{
    font-size: 30px;
    color: #ffffff;
    padding-right: 8px;
}
.icon_user span{
    color: #ffffff;
}

.wrapper{
    display: flex;
    margin-top: 93.95px;
}
.menu{
}

.menu_left{
    height: 1000px;
    background-color: #0F0D18;
    position: fixed;
    width: 20%;
    left: 0;
}

.menu_left_nav_list{
    padding: 0;
    list-style: none;
}
.menu_left_nav_list-item{
    cursor: pointer;
    align-items: center;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 30px;
    color: #ffffff;
    position: relative;
    transition:0.4s;
}
.menu_left_nav_list-item a{
    text-decoration: none;
    color: #ffffff;
}
.sub_menu{
    position: absolute;
    list-style: none;
    background-color: #0F0D18;
    padding: 0;
    right: -137px;
    top: 0px;
    display: none;

}
.menu_left_nav_list-item:hover .sub_menu{
    display: block;

}

.menu_left_nav_list-item:hover{
    background-color: var(--bs-white);
    border-left: 3px solid var(--bs-orange);

}
.menu_left_nav_list-item:hover a{
    color: #3f3e3f;

}
.menu_left_nav_list-item:hover i{
    color: #3f3e3f;

}
.menu_left_nav_list-item:hover .texta{
    color: #3f3e3f;

}
.menu_left_nav_list-item i{
    margin-right: 10px;
}

.sub_menu-item{
    padding: 10px 30px;

}
.sub_menu-item:hover{
    background-color: #ffffff;
    
}
.sub_menu-item-a{
    color: #ffffff !important;

}
.sub_menu-item:hover .sub_menu-item-a{
    color: #3f3e3f !important;
}

.icon_logout {
    margin-top: 10px;
    margin-left: 30px;
    width: 40px;
    height: 40px;
    border-radius: 6px;
}
.icon_logout:hover {
    background-color: var(--bs-white);
}
.icon_logout:hover i{
    color: #3f3e3f;
}
.icon_logout i{
    font-size: 20px;
    color: var(--bs-white);
    padding: 10px;

}
.content{
    margin-left: 20%;
    flex: 1;
}

.content_tab-list{
    margin: 10px;
}

.content-header{
    margin-bottom: 20px;
}
.content_tab-list-item form{
    display: block;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


.content-header h4{
    font-size: 20px;
    font-weight: 600;
}

.content_table-list-item img{
    width: 70px;
    height: 60px;
}
.content_table-list-item a{
    text-decoration: none;
}


.product_choose_type_input{
    margin-left:40% ;
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    background-color:#dededd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_choose_type_input::after{
    content: "\f00c";
    font-weight: 900; 
    font-size: 12px;
    font-family: "Font Awesome 6 free";
    color: white;
    display: none;
}
.product_choose_type_input:hover{
    background-color:#d7d9d7;

}
.product_choose_type_input:checked{
    background-color:#80BB35;

}
.product_choose_type_input:checked::after{
    display: block;

}
/* form */
form{
    display: flex;
}

.form-group-item{
    display: flex;
}

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 1em 1em 0;
    width: 50%;
    position: relative;
}

.inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
}

.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #ffffff;
}

.inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}


.img-product{
    margin: 18px 0 0 50px;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 10px;
    width: 200px;
    
}
.img-product img{
    width: 100%;
    height: auto;
    padding: 10px 0;
}

.btn-add {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px 0 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid rgb(200, 200, 200);
    transition: color .5s;
    background-color: #ffffff;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color:#0F0D18;
}

.btn-add:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--bk-green);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.btn-add:hover {
    color: #fff;    
}

.btn-add:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.btn-add:hover:before {
    top: -30px;
    left: -30px;
}

.btn-add:active:before {
    background: var(--bs-green);
    transition: background 0s;
}
.btn-left{
    margin-left: 22px;
}
/*  */
.btn-cancel button{
    padding: 10px 16px;
    background-color: #8d1d10;
    color: #ffffff;
    border: none;
}

.btn-unconfimred{
    border: none;
    padding: 10px 18px;
    margin-left: 6px;

}
.btn-confirma{
    border: none;
    padding: 10px 18px;
    margin-left: 6px;
    background-color: #80BB35;
    color: #ffffff;
}

.scrollbar {
    background-color: #ffffff;
    height: 450px;
    width: 100%;
    overflow-y: scroll;
}

.scroll_table {
    min-height: 450px;
}
#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
#style-1::-webkit-scrollbar-thumb{
background-color:#8e8e8e;
}
.content_tab-list-input{
    margin-bottom: 20px;
}
.icon_img img{
    width: 100px;
    margin-bottom: 10px;
}
.btn-Shared button{
    padding: 10px 16px;
    background-color: #80BB35;
    color: #ffffff;
    border: none;
    margin-left: 1000px;
}
.conten-product-list-item{
    margin-bottom: 20px;
}
.content_product{
    margin-bottom: 10px;
}
.content_product img{
    width: 130px;
    height: auto;
}
.content-product-info{
    margin-right: 600px;
}
.content-product-info h4{
    font-size: 22px;
}
.content-product-info p{
    margin-bottom: 0;
}
.icon-evaluate i{
    font-size: 13px;
}
.icon-evaluate i:hover{
    color:var(--bs-orange)
}
.btn-evaluate{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-evaluate input{
    width: 100%;
    font-size: 16px;
    padding: 14px 14px;
}   

.add_Evaluate{
    width: 100%;
    height: auto;
    border: 1px dashed #6f6f6f;
    display: flex;
    cursor: pointer;
}
.add_Evaluate img{
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-left: 20px;
}
.add_Evaluate p{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
}


.icon-operation i{
    font-size: 24px;
    padding: 12px;
}

.content-card{
    display: flex;
}
.content-cart-left{
    /* background-color: #80BB35; */
    width: 360px;
}
.content-cart-left-img{
    width: 140px;
    height: 140px;
    border-radius: 90px;
    padding: 3px;
    border: 3px solid var(--bs-primary);
    margin-left:68px;

}
.content-cart-left-info{
    font-size: 19px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: 600;
}

.profile{
    display: flex;
    width: 100%;
    padding: 10px;
}
.profile-address{
    display: flex;
    align-items: center;
}
.profile-address i{
    font-size: 30px;
}
.profile_content{
    margin-left: 16px;
}
.profile_content-header{
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}
.profile_content-description{
    font-size: 15px;
    margin: 0;

}
.content-cart-right{
    width: 100%;
    border-left: 1px solid #a7a0b0;
}
.content-cart-right-hader{
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}
.content-cart-right-Information{
    margin-left: 20px;
}
.content-cart-right-Information-header{
    font-size: 17px;
    font-weight: 600;
}
.content-cart-right-Information-item{
    border-top: 1px solid  #a7a0b0;
    border-bottom: 1px solid  #a7a0b0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 20px;
}
.content-cart-right-Information-item input{
    border: none;
    outline: none;
    width: 500px;
    height: 40px;
    font-weight: 600;
}
.content-cart-right-Information-item label {
    margin-left: 20px;
    width: 140px;
}
.content-cart-right-Information-item p{
    margin: 0 30px 0 0;
    color: #152bb6;
    font-size: 17px;
    cursor: pointer;
}

.form_select{
    width: 260px;
    height:50px;
    position: relative;
    display: flex;
    margin-right: 18px;
}

.form_select select {
    border: 2px solid rgb(200, 200, 200);
    outline: none;
    appearance: none;
    padding:10px;
    width: 100%;
    color: var(--text);
    background-color: var(--white-color);
    font-size:15px;
    border-radius: 10px;
  }
  .form_select .icon_form_select{
    width:50px;
    height: 100%;
    position: absolute;
    display: flex;
    right: 0;
    align-items: center;
    justify-content:center;
  }


.dkthanhvien_content{
    display: flex;
}
.dkthanhvien_content-left{
    margin-right: 20px; 
    border-right: 1px solid rgb(200, 200, 200);
}
.dkthanhvien_content-right{

}
.dkthanhvien_content-right-list{
    padding: 0;
    list-style: none;
}
.dkthanhvien_content-right-list li{
    line-height: 24px;
}